body {
	text-align: center;
	background-color: $_color-brand-color-3;
}

.header-img {
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
		z-index: 5;
		position: relative;
		overflow: hidden;
	}

	.header-callout {
		position: absolute;
		top: 2em;
		right:2em;
		z-index: 20;
		color: #fff;
		padding-top: .25em;
		padding-bottom:.5em;
		padding-left: 2em;
		padding-right: 2em;
		background-color: $_color-brand-color-3;
		font-family: $_font-main-bold;
		font-size: 1.5em;

		&:after {
			content: '';
			background-color: $_color-brand-color-2;
			position: absolute;
			width: 50px;
			height: 20px;
			z-index: 10;
			top: 30%;
			right: -50px;
		}

		@include respond-to(small) {
			font-size: 1.7em;
			padding-top: .25em;
			padding-bottom:.5em;

		    &:after {
		    	width: 67px;
		    	height: 23px;
		    	top: 40%;
		    	right: -67px;
		    }
		}

		@include respond-to(med) {
			padding-top: .15em;
			padding-bottom:.25em;

		    &:after {
		    	width: 73px;
		    	right: -73px;
		    }
		}

		@include respond-to(large) {
			// font-size: 2em;
			padding-left: 1.5em;
			padding-right: 1.5em;

		    &:after {
		    	width: 82px;
		    	right: -82px;
		    	height: 30px;
		    }
		}

		@include respond-to(x-large) {

		    &:after {
		    	width: 92px;
		    	right: -92px;
		    }
		}
	}
}

article {
	background-color: #fff;
}

.wrapper {
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	max-width: 1400px;
}

.article-content {
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: left;

	h1 {
		color: $_color-brand-color-4;
		font-family: $_font-main-semibold;
		margin-bottom: .25em;
		// padding-right:1em;

		@include respond-to(x-small) {
			text-align: center;
		}
	}

	ul {
		@include reset;
		padding-left: 20px;

		li {
			color: #000;
			@include reset;
			padding: .25em;
			font-size: .9em;
			line-height: 140%;
		}
	}

	@include respond-to(x-small) {
	    ul {
	    	margin-left: 2em;
	    }
	}

	@include respond-to(small) {
	    text-align: center;
	    padding-top: 2em;
	    padding-bottom: 3em;



	    ul {
	    	margin: 0 1em;
	    	columns: 200px 2;
	    	column-gap: 2em;
	    	text-align: left;
	    }
	}

	@include respond-to(med) {
		ul {
			column-gap: 2.5em;
			margin: 0 2em;
		}
	}

	@include respond-to(large) {
	   ul {
	   	column-gap: 2em;
	   	margin: 0 2em;
	   }
	}
}

h2 {
	background-color: $_color-brand-color-2;
	color: #fff;
	margin: 0;
	padding: .5em;

	@include respond-to(med) {
	    padding: .3em;
	}
}

.pics {
	display: flex;
	flex-wrap:wrap;

	.pic-wrap {
		flex: 1 1 50%;
		overflow: hidden;
		position: relative;
	}

	.pic-wrap:nth-child(odd):after {
		content: '';
		width: 3px;
		background-color: #FFF;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.pic-wrap:nth-child(1), .pic-wrap:nth-child(2) {
		border-bottom: 3px solid #FFF;
	}

	img {
		display: block;
		width:100%;
		max-width: none;
	}

	@include respond-to(small) {
		flex-wrap:nowrap;

		.pic-wrap {
			flex: 1 1 25%;
		}

		.pic-wrap:nth-child(2):after {
			content: '';
			width: 3px;
			background-color: #FFF;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
		}

		.pic-wrap, .pic-wrap:nth-child(1), .pic-wrap:nth-child(2) {
			border-bottom:none;
		}
	}
}

.highlight-img {
	display: block;
	margin:0;
}

#secondary {
	font-size: .9em;
	background-color: $_color-brand-color-1;
	color: #000;
	padding-top: 1em;
	padding-bottom: 1em;

	form {
		font-family: $_font-raleway-bold;
		color: $_color-brand-color-3;
	}

	button {
		font-family: $_font-raleway-bold;
		@include respond-to(small) {
		    font-size: .8em;
		}

		@include respond-to(med) {
		    font-size: .7em;
		}

		@include respond-to(large) {
		    font-size: 1em;
		    padding: .5em 1em
		}
	}

	@include respond-to(med) {
	    padding-top: 2em;

	    .wrapper {
			display: flex;
			justify-content: center;

			.left-text {
				flex: 1;
				text-align: right;

				p {
					width: 250px;
					@include reset;
					padding-left: 2em;
				}

			}

			form {
				flex: 2;
			}
	    }
	}

	@include respond-to(large) {

	    .wrapper {

			.left-text {

				p {
					padding-left: 0;
				}
			}

			form {
				flex: 3;
			}
	    }
	}

	@include respond-to(large) {

	    .wrapper {

			.left-text {

				p {
					padding-left: 0;
					width: 270px;
				}
			}

	    }
	}
}