form {
	text-align: left;
	// padding-top: 2.75em;
	padding-bottom: 1.25em;

	@include respond-to(small) {
		display: -ms-flexbox;
		display: -webkit-flex;
		display:flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		.flex {
			-ms-flex:1 1 45%;
			flex:1 1 45%;
			margin: 5px;
		}

		.form-margin {
			margin: 5px;
		}

		#form-comments {
			margin-top: 15px;
		}
	}

	// @include respond-to(med) {
	// 	padding-left: 2em;
	// 	padding-top: 0;
	// }
}

button {

	@include respond-to(small) {
		margin-top: 15px;
	}
}

// label {
// 	display: block;
// 	font-size: .75em;
// 	padding-left: 1em;
// }

.honey {
	display: none!important;
}

.error-box {
	font-size:.875em;
	padding: 1em;
	border:1px solid #F00;
	display: none;
	margin-bottom: 15px;
	color: #F00;
	background-color: #FFF;
	width: 100%;
	text-shadow:none;

	@include respond-to(small) {
		margin-left: 4px;
		margin-right: 4px;
	}
}
