#masthead {
	font-family: $_font-raleway-semibold;
	background-color: $_color-brand-color-1;
	color:#000 ;
	padding-top: 1em;
	@include padding-left-right;
	text-align: center;
	border-bottom: 5px solid $_color-brand-color-4;

	.logo {

		img {
			max-width: 250px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.social {

		.email {

			a {
				color: #000;
				font-family: $_font-raleway-semibold;
				text-decoration: none;
			}
		}
	}

	@include respond-to(small) {
		padding-top: 1em;
		padding-bottom: 1em;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		.logo {

			img {
				max-width: 300px;
			}
		}
	}

	@include respond-to(large) {

		.social {

			.social-wrapper {
				.email {

					a {
						font-size:.9em;
					}
				}
			}
		}
	}
}