#masthead {
	font-family: $_font-raleway-semibold;
	background-color: $_color-brand-color-1;
	color:#000 ;
	padding-top: 1em;
	@include padding-left-right;
	text-align: center;

	.logo {

		img {
			max-width: 250px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.social {
		padding: 1em 0 .5em;

		.callout {
			padding: .5em 0;
			background-color: $_color-brand-color-4;
		}

		.email {

			a {
				color: #000;
				font-family: $_font-raleway-semibold;
				text-decoration: none;
			}
		}

		.icons {
			width: 100%;
			display: inline-flex;
			justify-content: center;
			align-items:center;
			margin-top: .5em;

			.icon-size {
				margin: 1px 3px 1px;
				img {
					max-width: 35px;
				}
			}
		}
	}

	@include respond-to(small) {
		padding-top: 1em;
		padding-bottom: 1em;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		.logo {

			img {
				max-width: 300px;
			}
		}

		.social {
			padding: 0;

			.callout {
				font-size: 1.2em;
				padding-top: .2em;
				padding-bottom: .2em;
			}

			.social-wrapper {
				width: 100%;
				display: inline-flex;
				justify-content: flex-end;


				.email {
					flex: 3;
					padding-right: 0;
					text-align: right;
				}

				.icons {
					flex: 1;
					justify-content: flex-end;
					align-items: flex-end;

				}
			}
		}
	}

	@include respond-to(large) {

		.logo {

			img {
				// max-width: 200px;
			}
		}

		.social {
			.callout {
				padding: .25em 1.5em;
			}
			.social-wrapper {
				.email {

					a {
						font-size:.8em;
					}
				}

				.icons {

					.icon-size {
						img {
							max-width: 42px;
						}
					}
				}
			}
		}

	}
}