/* Colors */
$_color-brand-color-1: #fff;
$_color-brand-color-2: #eca920;
$_color-brand-color-3: #263745;
$_color-brand-color-4: #8a2a2b;

$_color-text-main:#000;
$_color-text-screen: #000;
$_color-border-input:#333;

$color_background-button: $_color-brand-color-4;

/* Fonts */
$_font-main: 'Montserrat-Regular', sans-serif;
$_font-main-semibold: 'Montserrat-SemiBold', sans-serif;
$_font-main-bold: 'Montserrat-Bold', sans-serif;

$_font-raleway: 'Raleway-Regular', sans-serif;
$_font-raleway-semibold: 'Raleway-SemiBold', sans-serif;
$_font-raleway-bold: 'Raleway-Bold', sans-serif;


//#eca920
//#802528
//#263745